<template>
    <div class="show-data-container">
        <div>
            <p class="auth-desc">Логин</p>
            <input class="auth-input"  disabled="disabled"  type="text" v-model="user.username" required>
        </div>
        <!-- <div>
            <p class="auth-desc">Пароль</p>
            <input class="auth-input"  disabled="disabled"  v-model="user.password" type="password" required>
        </div> -->
        <div>
            <p class="auth-desc">Имя </p>
            <input class="auth-input"  disabled="disabled"  v-model="user.first_name" type="text" required>
        </div>
        <div>
            <p class="auth-desc">Фамилия</p>
            <input class="auth-input"  disabled="disabled"  v-model="user.last_name" type="text" required>
        </div>
        <div>
            <p class="auth-desc">Телефон</p>
            <input class="auth-input"  disabled="disabled"  v-model="user.phone" required>
        </div>
        <div>
            <p class="auth-desc">Почта</p>
            <input class="auth-input"  disabled="disabled"  type="email" v-model="user.email"  required>
        </div>
        <div>
            <p class="auth-desc">Учреждение</p>
            <input class="auth-input"  disabled="disabled" type="email" v-model="user.workplace"  required>  
        </div>
        <div v-if="$store.state.user.role === 'ROOT'">
            <p class="auth-desc">Роль</p>
            <input class="auth-input"  disabled="disabled"  type="email" :value="Roles[user.role]"  required>  
        </div>
        
    </div>
</template>

<script>
import {roles} from '@/constans/roles'
export default {
    props:['user'],
    data(){
        return {
            Roles:'',
        }
    },
    created(){
        this.Roles = roles
        console.log(this.user, this.Roles)
    }
}
</script>

<style scoped>
.show-data-container{
    position: relative;
    background-color: white;
    min-height: 310px;
    width: 100%;
    padding: 8px;
}
@media  (width < 700px){
    .show-data-container {
        background-color: white;
        min-height: 305px;
        width: 95%;
    }
}
</style>