<template>
    <div class="auth-registred">
        <!-- <img  class="arrow-back" @click="$emit('close')" :src="require('../assets/arrow-back.svg')" alt="">
        <img :src="require('../assets/logo.svg')" alt=""> -->
        <h2 style="color: #107B7B;">
            Заполните все поля
        </h2>
        <div>
            <p class="auth-desc">Логин</p>
            <input class="auth-input" placeholder="Логин" type="text" v-model="data.username.value" required>
            <p class="auth-valid-msg" v-if="data.username.value&&data.username.value.length<5">Минимальное колличество символов 5</p>
            <p class="auth-valid-msg" v-if="!data.username.value">Обязательное поле</p>
        </div>
        <div class="btn-group">
            <div class="auth-btn" style="margin: 5px;" :style="changePass ? 'background-color: red;' : 'background-color: #107B7B;' " @click="changePass = !changePass">
                <p style="color:white;font-weight: 500;font-size: 16px;line-height: 19px;">Смена пароля</p>
            </div>
        </div>
        <div v-if="changePass">
            <p class="auth-desc">Пароль</p>
            <input class="auth-input" placeholder="Пароль" v-model="data.password.value" type="password" required>
            <p class="auth-valid-msg" v-if="!data.password.value">Обязательное поле</p>
            <p class="auth-valid-msg" v-if="data.password.value!=data.checkPassword.value" >Пароли не совпадают</p>
            <p class="auth-valid-msg" v-if="data.password.status === false">Минимальная длина пароля 8 символов с минимум одной буквой и цифрой</p>
        </div>
        <div v-if="changePass">
            <p class="auth-desc">Повторите пароль</p>
            <input class="auth-input" placeholder="Повторите пароль" v-model="data.checkPassword.value" type="password" required>
            <p class="auth-valid-msg" v-if="!data.checkPassword.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Имя</p>
            <input class="auth-input" placeholder="Имя" v-model="data.first_name.value" type="text" required>
            <p class="auth-valid-msg" v-if="!data.first_name.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Фамилия</p>
            <input class="auth-input" placeholder="Фамилия" v-model="data.last_name.value" type="text" required>
            <p class="auth-valid-msg" v-if="!data.last_name.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Телефон</p>
            <input class="auth-input" placeholder="Телефон" v-model="data.phone.value" type="tel" pattern="^[0-9]{3,45}$"  required>
            <p class="auth-valid-msg" v-if="!data.phone.value">Обязательное поле</p>
            <p class="auth-valid-msg" v-if="data.phone.status === false">Номер должен содержать минимум 7 цифр</p>
        </div>
        <div>
            <p class="auth-desc">Почта</p>
            <input class="auth-input" placeholder="Почта" type="email" v-model="data.email.value"  pattern=".+@globex\.com" size="30" required>
            <p class="auth-valid-msg" v-if="!data.email.value">Обязательное поле</p>
            <p class="auth-valid-msg" v-if="data.email.status === false">Адрес должен содержать знак @ и минимум 6 символов</p>
        </div>
        <div>
            <p class="auth-desc">Учреждение</p>
            <select class="auth-select" style="color: black;"  v-model="data.workplace.value" >
                <option style="color: black;" v-for="place in Places" :value="place" :key="place">
                    {{ place }}
                </option>
            </select>
            <p class="auth-valid-msg" v-if="!data.workplace.value">Обязательное поле</p>
            <div v-if="showBonusData">
                <p class="auth-desc">{{ 'Другое' }}</p>
                <textarea  class="input" cols="30" rows="10" :placeholder="'Другое'" v-model="bonusData" type="text" required></textarea>
                <p class="auth-valid-msg" v-if="!bonusData">Обязательное поле</p>
            </div>
        </div>
        <div class="btn-group" v-if="checkStatus">
            <div class="auth-btn" style="margin: 5px;" @click="saveData(data)">
                <p style="color:white;font-weight: 500;font-size: 16px;line-height: 19px;">Сохранить</p>
            </div>
        </div>
    </div>
</template>

<script >
import { places } from '../../constans/places'
import {updateUser} from '../../server/put'
export default {
    props:['user'],
    data(){
        return {
            changePass: false,
            Places:'',
            showBonusData:false,
            bonusData:'',
            bonusStatus:false,
            data:{
                username:{
                    status:'',
                    value:'',
                },
                password:{
                    status:'',
                    value:'',
                },
                checkPassword:{
                    status:'',
                    value:'',
                },
                first_name:{
                    status:'',
                    value:'',
                },
                last_name:{
                    status:'',
                    value:'',
                },
                phone:{
                    status:'',
                    value:'',
                },
                email:{
                    status:'',
                    value:'',
                },
                workplace:{
                    status:'',
                    value:'',
                },

            }
        }
    },
    methods:{
        async saveData(data){
            console.log(data)
            this.$store.state.loader = true
            try{
                let keys = Object.keys(data)
                const res = {}
                for(let i = 0;i<keys.length;i++){
                    res[keys[i]] = data[keys[i]].value
                    if(keys[i] === 'workplace'){
                        if(this.bonusData && this.showBonusData) res[keys[i]] = this.bonusData
                    }
                }
                res.role = this.user.role
                res.id = this.user.id
                if(!this.changePass) delete res.password
                delete res.checkPassword
                let result = await updateUser(res)
                if(result){
                    this.$store.commit('addNotifyAcc','Изменения прошли успешно')
                } else {
                    this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
                }

            } catch(e){
                console.log(e)
                this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
            }


            
            this.$store.state.loader = false
        }
    },
    created(){
        console.log(true)
        this.Places = places
        if(this.user){
            let keys = Object.keys(this.data)
            for(let i = 0;i<keys.length;i++){
                if(this.user[keys[i]] != undefined){
                    this.data[keys[i]].value = this.user[keys[i]]
                }
            }
        }
    },
    computed:{
        checkStatus(){
            if(
                this.data.username.status === true &&
                this.data.first_name.status === true &&
                this.data.last_name.status === true &&
                this.data.phone.status === true &&
                this.data.email.status === true &&
                this.data.workplace.status === true 

            ){
                if( this.changePass && this.data.password.status === true &&
                    this.data.checkPassword.status === true
                ){
                    return true
                } else if(this.changePass){
                    return false
                } else {
                    return true
                }
            } else {
                return false
            }
        }
    },  
    watch:{
        bonusData(val){
            if(val){
                this.bonusStatus = true
            } else {
                this.bonusStatus = false
            }
        },
        "data.first_name.value"(val){
            if(val){
                this.data.first_name.status = true
            } else {
                this.data.first_name.status = false
            }
        },
        "data.last_name.value"(val){
            if(val){
                this.data.last_name.status = true
            } else {
                this.data.last_name.status = false
            }
        },
        "data.phone.value"(val){
            // const checkPlus = new RegExp(/[+]/)
            const num = new RegExp(/[0-9]/)
            const cyr = new RegExp(/[а-яА-ЯЁё]/)
            const lat = new RegExp(/[a-z-A-Z]/)
            if(val &&  num.test(val) && !cyr.test(val) && !lat.test(val) && val.length >= 7){
                this.data.phone.status = true
            } else {
                this.data.phone.status = false
            }
        },
        "data.email.value"(val){
            const checkFaba = new RegExp(/[@]/)
            if(val && val.length>=7 && checkFaba.test(val)){
                this.data.email.status = true
            } else {
                this.data.email.status = false
            }   
        },
        "data.workplace.value"(val){
            if(val && val!= 'Другое'){
                this.data.workplace.status = true
            }else if(val && val === 'Другое'){
                this.data.workplace.status = false
                this.showBonusData = true
            }else {
                this.data.workplace.status = false
            }          
        },
        "data.username.value"(val){
            if(val.length&&val.length>=5){
                this.data.username.status = true
            }
        },
        "data.password.value"(val){
            const cyr = new RegExp(/[а-яА-ЯЁё]/)
            const lat = new RegExp(/[a-z-A-Z]/)
            const num = new RegExp(/[0-9]/)
            // console.log(val, cyr.test(val), lat.test(val),num.test(val))
            if(cyr.test(val) && num.test(val) && val.length>=8 ||lat.test(val) && num.test(val) && val.length>=8){
                this.data.password.status = true
            } else {
                this.data.password.status = false
            }
            if( this.data.password.value === this.data.checkPassword.value && this.data.password.status === true){
                this.data.checkPassword.status = true
            }
        },
        "data.checkPassword.value"(val){
            if( this.data.password.value === this.data.checkPassword.value && this.data.password.status === true){
                this.data.checkPassword.status = true
            }
        }
    }
}
</script>

<style  scoped>
.auth-valid-msg{
    color:red;
    font-size: 11px;
    transition: 300ms;
}
.auth-select{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.arrow-back{
    position: absolute;
    top:1%;
    left:1%;
    cursor: pointer;
}
.auth-registred{
    position: relative;
    background-color: white;
    min-height: 310px;
    width: 100%;
    padding: 8px;
}
@media  (width < 700px){
    .auth-registred {
        background-color: white;
        min-height: 305px;
        width: 95%;
    }
}
</style>