<template>
    <div>
        <p class="desc">{{ item.name }}</p>
        <select class="select" style="color: #107B7B;"  v-model="value" :readonly="readOnly" >
            <option style="color: #107B7B;" v-for="option in options" :value="option" :key="option">
                {{ option === true ? 'Да' : 'Нет' }}
            </option>
        </select>
        <p class="valid-msg" v-if="item.required && !status && !readOnly">Обязательное поле</p>
    </div>
</template>

<script>
export default {
    props:['item','preValue','readOnly'],
    data(){
        return {
            value:'',
            status:'',
            options:[true,false],
        }
    },
    created(){
        if( this.preValue){
            this.value =  this.preValue
        } 
        // console.log(this.value)
    },
    watch:{
        value(val){
            if(val){
                this.status = true
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save: true,
                }
                if(this.item.setIF) res.setIF = val
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
            } else {
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save: false,
                }
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
                this.status = false
            }
        },
    }
}
</script>

<style scoped>
.select{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.desc{
    color: #107B7B;
    margin: 10px;
}
.input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
    color:#107B7B;
}
.valid-msg{
    color:red;
    font-size: 11px;
    transition: 300ms;
}
</style>