<template>
    <div>
        <p class="desc">{{ item.name }}</p>
        <select class="select" style="color: #107B7B;" :disabled="readOnly" v-model="value" >
            <option style="color: #107B7B;" v-for="option in types[item.options]" :value="option" :key="option">
                {{ option }}
            </option>
        </select>
        <p class="valid-msg" v-if="item.required && !value&&!readOnly">Обязательное поле</p>
        <div v-if="showBonusData">
            <p class="desc">{{ 'Другое' }}</p>
            <textarea  class="input" cols="30" rows="10" :placeholder="'Другое'" :readonly="readOnly" v-model="bonusData" type="text" required></textarea>
            <p class="valid-msg" v-if="!bonusData && !readOnly">Обязательное поле</p>
        </div>
    </div>
</template> 

<script>
import {places} from '../../constans/places'
export default {
    props:['item','readOnly'],
    data(){
        return {
            types:{
                transType:['Устный','Письменный'],
                places:'',
            },
            value:'',
            status:'',
            options:[true,false],
            showBonusData:false,
            bonusData:'',
        }
    },
    created(){
        this.types.places = places
    },
    watch:{
        bonusData(val){
            if(val){
                this.status = true
                const res = {
                    value: val,
                    key: this.item.data,
                    save:true,
                }
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
            } else {
                const res = {
                    value: val,
                    key: this.item.data,
                    save: false,
                }
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
                this.status = false
            }
        },
        value(val){
            if(val && val != 'Другое'){
                this.status = true
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save:true,
                }
                if(this.item.setIF) res.setIF = val
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
            } else if(val != 'Другое'){
                const res = {
                    value: val,
                    key: this.item.data,
                    save: false,
                }
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
                this.status = false
            }
            if(val === 'Другое'){
                this.showBonusData = true
            }
        },
    }
}
</script>

<style scoped>
.select{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.desc{
    color: #107B7B;
    margin: 10px;
}
.input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
    color:#107B7B;
}
.valid-msg{
    color:red;
    font-size: 11px;
    transition: 300ms;
}
</style>