<template>
    <div class="card-container">
        <div class="btn-container">
            <div style="cursor: pointer;">
                <img  v-if="readOnly === true " @click="readOnly = false" height="30px" width="30px" :src="require('@/assets/edit.svg')" alt="">
            </div>
            <div style="cursor: pointer;">
                <img  v-if="readOnly === false" @click=" readOnly = true" height="30px" width="30px" :src="require('@/assets/close.svg')" alt="">
            </div>
        </div>
        <div  v-for="(item,index) in meta.fields" :key="index">
            <Phone 
                v-if="item.type === 'phone' && item.IF === undefined || item.type === 'phone' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :readOnly="readOnly"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <TextForm
                v-if="item.type === 'text' && item.IF === undefined || item.type === 'text' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :readOnly="readOnly"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <NumberForm 
                v-if="item.type === 'number' && item.IF === undefined || item.type === 'number' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :readOnly="readOnly"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <Bool 
                v-if="item.type === 'bool' && item.IF === undefined || item.type === 'bool' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :readOnly="readOnly"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <SelectForm 
                v-if="item.type === 'select' && item.IF === undefined || item.type === 'select' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :readOnly="readOnly"
                @set-val="(item)=>preSaveVal(item)"
            />
        </div>
        <div>
            <div>
                <p class="desc">Статус</p>
                {{ watchObjectStatus }}
                <select class="select" :style="`color: ${Statuses[status].color};`" :disabled="readOnly" v-model="status" :value="Statuses[status].trans"  >
                    <option :style="`color: ${Statuses[option].color};`" v-for="option in StatusesKeys" :value="option" :key="Statuses[option].color">
                        {{Statuses[option].trans }}
                    </option>
                </select>
            </div>
            <div>
                <p class="desc">Дата/время создания</p>
                <input class="input" :value="help.DATE+'/'+help.TIME" type="text" readonly="true" required>
            </div>
            <div>
                <p class="desc">Фамилия и имя создавшего</p>
                <input class="input" :value="help.OWNER.last_name+' '+help.OWNER.first_name" type="text" readonly="true" required>
            </div>
        </div>
    </div>
</template>

<script>
import {requests} from '@/constans/requests'
import Phone from '@/components/form-components/phone'
import TextForm from '@/components/form-components/text.vue'
import NumberForm from '@/components/form-components/number.vue'
import Bool from '@/components/form-components/bool.vue'
import SelectForm from '@/components/form-components/select.vue'
import { statuses } from '@/constans/statuses'
export default {
    components:{ Phone,TextForm,NumberForm,Bool,SelectForm},
    props:['help'],
    data(){
        return {
            readOnly:true,
            object:{},
            meta:'',
            IF:false,
            requiredLength:0,
            requiredCount:0,
            checkDataCount:{},
            Statuses:'',
            StatusesKeys:'',
            status:'',
        }
    },
    created(){
        this.Statuses = statuses
        this.StatusesKeys = Object.keys(statuses)
        this.meta = requests.find(item=> item.dataName === this.help.HELPTYPE)
        console.log(this.meta)
        let data = {}
        for(let i=0;i<this.meta.fields.length;i++){
            data[this.meta.fields[i].data] =  ''
            console.log(this.meta.fields[i].required)
            if(this.meta.fields[i].required) this.requiredLength++
        }
        this.object = data
        this.status = this.help.status
    },
    watch:{
        requiredCount(val){
            if(val === this.requiredLength){
                this.showBtn = true
            } else {
                this.showBtn = false
            }
        },
        "object.status"(val){
            console.log(val)
        }
    },
    methods:{
        getPreValue(item){
            if(this.help[item.data]){
                return this.help[item.data]
            } else {
                return false
            }
        },
        preSaveVal(item){
            if(item.save){
                this.object[item.key] = item.value
                if(item.setIF!= undefined){
                    // console.log(item.setIF)
                    this.IF = item.setIF
                }
                if(item.required){
                    if(!this.checkDataCount[item.key]){
                        this.checkDataCount[item.key] = true
                        this.requiredCount++
                    } else {

                    }
                } 

            } else {
                if(item.required){
                    if(this.checkDataCount[item.key]){
                        this.checkDataCount[item.key] = false
                        this.requiredCount--
                    }
                } 
            }
        },
    },
    computed:{
        watchObjectStatus(){
            return this.object.status
        }
    },
}
</script >

<style scoped>
.input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
    color:#107B7B;
}
.desc{
    color: #107B7B;
    margin: 10px;
}
.card-container{
    position: relative;
    padding-top: 60px;
    height: 100%;
    overflow-y: overlay;
}
.btn-container{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    min-width: 50px;
    background-color: #107B7B;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.select{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
</style>