<template>
    <div ref="line" :style="help.HELPTYPE+help.id === activeHelp ? 'background-color: #107B7B;color: white;cursor: pointer;' : ''" 
        class="table-header line" 
        @click="$emit('open-help', postHelp())"
    >
        <div  class="line-item" style="width: 5%;">{{ help.id }}</div>
        <div  class="line-item" style="width: 15%;">{{ getHelpType(help.HELPTYPE) }}</div>
        <div  :style="'color:'+ Statuses[help.status].color" class="line-item" style="width: 10%;">{{ Statuses[help.status].trans }}</div>
        <div  class="line-item" style="width: 15%;justify-content: space-around;">
            <p>{{ DATE }}</p>
            <p>{{ TIME }}</p>
        </div>
        <div  class="line-item" style="width: 20%;">{{ OWNER.first_name + ' ' + OWNER.last_name }}</div>
        <div  class="line-item" style="width: 35%;">{{ help.notes }}</div>
    </div>
</template>

<script>
import { statuses } from '@/constans/statuses'
import {requests} from '@/constans/requests'
import { getUser } from '@/server/get'
export default {
    props:['help','activeHelp'],
    data(){
        return{
            OWNER:'',
            DATE:'',
            TIME:'',
            helpsType:'',
            Statuses:'',
            // height:undefined,

        }
       
    },
    created(){
        this.helpsType = requests
        this.Statuses = statuses
        this.getFullHelp(this.help)
    },
    mounted(){
        // this.height = this.$refs['line']
    },
    computed:{
        // watchHeight(){
        //    if(this.height) return this.height
        // }
    },
    methods:{
        postHelp(){
            this.help.OWNER = this.OWNER
            this.help.DATE = this.DATE
            this.help.TIME = this.TIME
            return this.help
        },
        async getFullHelp(help){
            this.OWNER = await this.getUserTable(help.owner_id)
            this.getDate(help.created_at)
        },
        getDate(date){
            const res = new Date(date)
            this.TIME =  this.checkFull(`${res.getHours()}`)+":" + this.checkFull(`${res.getMinutes()}`)
            this.DATE = this.checkFull(`${res.getDate()}`)+'.'+ (this.checkFull(`${res.getMonth()+1}`)) + '.' + res.getFullYear()
        },
        async getUserTable(id){
            return await getUser(id,this.$store.state.user.role)
        },
        getHelpType(TYPE){
            return this.helpsType.find(item=> item.dataName === TYPE).name
        },
        getHelpPath(TYPE){
            return this.helpsType.find(item=> item.dataName === TYPE).serverPath
        },
        checkFull(data){
            console.log(data, data.length)
            if(data.length === 1){
                return '0'+ data
            } else {
                return data
            }
        }
    }
}
</script>

<style scoped>
.line:hover{
    background-color: #107B7B;
    color: white;
    cursor: pointer;
   
}

.line-item{
    border-right:1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 48px;
    height: 100%; */
    text-wrap: wrap;
}
.table-header{
    display: flex;
    min-height: 48px;
    width: 100%;
    border-bottom: 1px solid gray;
}
</style>