<template>
    <div class="table-container">
        <div class="table-header">
            <div class="line-item" style="width: 5%;">id</div>
            <div class="line-item" style="width: 15%;">Тип помощи</div>
            <div class="line-item" style="width: 10%;">Статус</div>
            <div class="line-item" style="width: 15%;">Дата создания</div>
            <div class="line-item" style="width: 20%;">Создал(а) заявку</div>
            <div class="line-item" style="width: 35%;">Описание</div>
        </div>
        <div class="table">
            <helpInTable @open-help="(data)=>{ $emit('open-help', data);activeHelp=data.HELPTYPE+data.id}" v-for="(help,index) in HELPS" :key="index" :help="help" :activeHelp="activeHelp" />

        </div>
    </div>
</template>

<script>
import helpInTable from './helpInTable.vue'


export default {
    props:['HELPS', 'tableType'],
    components:{helpInTable},
    data(){
        return {
            helpsType:'',
            Statuses:'',
            activeHelp:'',
        }
    },
    created(){

        console.log(this.HELPS, this.helpsType)
    },
    methods:{

    }
}
</script>
<style scoped>
.line:hover{
    background-color: #107B7B;
    color: white;
    cursor: pointer;
   
}

.line-item{
    border-right:1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    height: 100%;
}
.table-header{
    display: flex;
    min-height: 48px;
    width: 100%;
    border-bottom: 1px solid gray;
}
.table{
    width: 100%;
    height: 100%;
    
}
.table-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: overlay;
}
</style>