<template>
    <div class="header-options">
        <div style="display: flex;align-items: center;">
            <div class="option">
                <div v-if="dateShow" style="height: 400px;width: 400px;background-color: #107B7B;">
                    <v-date-picker
                      v-model="OPTIONS.dates"
                      color="#107B7B"
                      range
                    ></v-date-picker>
                    <p @click="dateShow = false" style="color: white;margin-top: 5px;cursor: pointer;">Применить</p>
                    
                </div>
                <div v-else class="option-btn" @click="dateShow = true">
                    <p style="color: #107B7B;font-size: 14px;">Диапазон дат</p>
                </div>
            </div>
            <div class="option" style="display: flex;align-items: center;width: 200px;">
                <p style="color: #107B7B;font-size: 14px;">По статусу:</p>
                <select class="select" style="color: #107B7B;"  v-model="OPTIONS.status" >
                    <option :style="'color:'+ Statuses[status].color+';'" v-for="status in statKeys" :value="status" :key="status">
                        {{ Statuses[status].trans }}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex;align-items: center;">
            <div class="btn" style="background-color: #c50000;margin-left: 5px;">
                <p style="color:white;font-weight: 500;font-size: 12px;line-height: 19px;">Отмена</p>
            </div>
            <div class="btn" style="background-color: #107B7B;margin-left: 5px;">
                <p style="color:white;font-weight: 500;font-size: 12px;line-height: 19px;">Применить</p>
            </div>
        </div>
    </div>
</template>

<script>
import {statuses} from '@/constans/statuses'
export default {
    props:['OPTIONS'],
    data(){
        return {
            Statuses:[],
            statKeys:[],
            dateShow:false,
        }
    },
    mounted(){
        console.log(statuses)
        this.statKeys = Object.keys(statuses)
        this.Statuses = statuses
    }
}
</script>
<style scoped>
.select{
    width: 57%;
    height: 24px;
    padding: 3px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.option-btn{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    border: 1px solid #107B7B;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-options{
    height: 48px;
    border-bottom: 2px solid #107B7B;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.option{
    margin-right: 10px;
    height: 90%;
    width: 150px;
    z-index: 100;
}
.btn{
    width: 90px;
    height: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
    border-radius: 20px;
    border: 1px solid transparent;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
</style>