<template>
    <div class="panel">
        <div class="choice-btn" @click="windowMode = 'all'"  :style="windowMode === 'all' ? 'background-color:#107B7B' : 'background-color:white'">
            <p style="margin: 0;font-size: 14px;" :style="windowMode === 'all' ? 'color:white;' : 'color:#107B7B;'">Все заявки</p>
        </div>
        <!-- <div class="choice-btn" @click="windowMode = 'mens'" :style="windowMode === 'mens' ? 'background-color:#107B7B' : 'background-color:white'">
            <p style="margin: 0;font-size: 14px;" :style="windowMode === 'mens' ? 'color:white;' : 'color:#107B7B;'">Заявки мужской помощи</p>
        </div> -->
    </div>
</template>

<script>
export default {
    data(){
        return {
            windowMode:'all'
        }
    },
    watch:{
        windowMode(val){
            this.$emit('active-table',val)
        }
    }
}
</script>
<style scoped>
.panel{
    background-color: white;
    width: 10%;
    z-index: 10;
    height: 100%;
    border-right: 3px solid #107B7B;
}
.choice-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
</style>