<template>
    <div v-show="show" class="auth-container">
        <div class="auth-login" v-show="!showReg">
            <img :src="require('../assets/logo.svg')" alt="">
            <h2 style="color: #107B7B;">
                Вход
            </h2>
            <div>
                <p class="auth-desc">Логин</p>
                <input class="auth-input" placeholder="Логин" v-model="login" type="text">
            </div>
            <div>
                <p class="auth-desc">Пароль</p>
                <input class="auth-input" placeholder="Пароль" v-model="pass" type="password">
            </div>
            <div class="btn-group">
                <div class="auth-btn" style="margin: 5px;" @click="enterAuth()">
                    <p style="color:white;font-weight: 500;font-size: 16px;line-height: 19px;">Войти</p>
                </div>
                <!-- <div style="margin: 5px;">
                    <p class="auth-desc" style="cursor: pointer;" @click="showReg=true">Зарегестрироваться</p>
                </div> -->
            </div>
        </div>
        <!-- <Registred v-if="showReg" @close="showReg=false" /> -->
    </div>
</template>

<script>
import {logIn} from '../server/posts'
import { getToken } from '@/server/getConfig'
import {getAuthUser} from '@/server/get'
export default {
    data(){
        return {
            login:'',
            pass:'',
            wHeight:'',
            showReg:false,
            counterNotLog:0,
            show:false,
        }
    },
    async created(){
        this.show = false
        try{
            const token = await getToken()
            if(token){
                let user = await getAuthUser(token)
                this.checkRoute(user)
            }
        } catch {
            console.log(e)
        }
        this.show = true
    },
    mounted(){
        console.log(true)
        
    },
    methods:{
        async enterAuth(){
            this.$store.state.loader = true
            let logres = await logIn({
                username:this.login,
                password:this.pass,
            })
            if(logres.errType != undefined){
                if(logres.errType === 'log'){
                    //три неверных - капча
                }
                this.$store.commit('addNotifyErr',logres.msg)
            } else {
                //
                this.$store.commit('setRefreshToken', logres)
                this.$store.commit('setToken', logres)
                let user = await getAuthUser(logres.token)
                this.checkRoute(user)
            }
            this.$store.state.loader = false
            
        },
        checkRoute(user){
            if((user.role === 'COORDINATOR' || user.role === 'ADMIN') && (!user.workplace ||!user.email)){
                this.$router.push('/cabinet')
            }else if(user.role === 'COORDINATOR'){
                this.$router.push('/create')
            } else if(user.role === 'ADMIN'){
                this.$router.push('/helps')
            } else if(user.role === 'ROOT'){
                this.$router.push('/users')
            }
        }

    }
}


</script>

<style>
.btn-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.auth-input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.auth-input:focus {
    outline: #107B7B;
}
.auth-btn{
    width: 150px;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: #107B7B;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.auth-login{
    background-color: white;
    /* border:5px solid #107B7B; */
    border-radius: 15px;
    min-height: 355px;
    min-width: 25%;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2) inset;
}
@media  (width < 700px){
    .auth-container{
        background-color: #107B7B;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        /* padding-top: 20px; */
        align-content: center;
    }
    .auth-login {
        background-color: white;
        border-radius: 15px;
        min-height: 305px;
        width: 95%;
        box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2);
    }
}
.auth-desc{
    color: #107B7B;
    margin: 10px;
}
.auth-container{
    background-color: #107B7B;
    display: flex;
    width: 100%;
    height: calc(100% + 70px) ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}
</style>