<template>
    <div>

    </div>
</template>

<script >
import {createdRefresh} from '@/functions/createdRefresh'
export default {
    async created(){
        try{
            await createdRefresh()
        } catch {
            console.log(e)
        }
    },
    mounted(){
        console.log(true)
    }
}
</script>

<style  scoped>

</style>