<template>
    <div class="app-header" :style="wWidth>700?'display: flex;':''" >
        <div style=" display: flex;" v-if="wWidth>700">
            <img class="header-logo" :src="require('../assets/logo.svg')" alt="">
            <div class="header-button" @click="$router.push('/create')" :style="watchRoute === 'create' ? 'background-color:#107B7B' : 'background-color:white'"  v-if="role==='COORDINATOR' || role==='ADMIN'">
                <p class="header-desc" :style="watchRoute === 'create' ? 'color:white' : 'color:#107B7B'" >Создать заявку</p>
            </div>
            <div class="header-button"  @click="$router.push('/user-helps')" :style="watchRoute === 'user-helps' ? 'background-color:#107B7B' : 'background-color:white'" v-if="role==='COORDINATOR' ">
                <p class="header-desc" :style="watchRoute === 'user-helps' ? 'color:white' : 'color:#107B7B'" >Мои заявки</p>
            </div>
            <div class="header-button" @click="$router.push('/helps')" :style="watchRoute === 'helps' ? 'background-color:#107B7B' : 'background-color:white'" v-if="role==='ADMIN'">
                <p class="header-desc" :style="watchRoute === 'helps' ? 'color:white' : 'color:#107B7B'" >Все заявки</p>
            </div>
            <div class="header-button"  @click="$router.push('/cabinet')" :style="watchRoute === 'cabinet' ? 'background-color:#107B7B' : 'background-color:white'" v-if="role==='COORDINATOR' || role==='ADMIN'">
                <p class="header-desc" :style="watchRoute === 'cabinet' ? 'color:white' : 'color:#107B7B'" >Профиль</p>
            </div>
            <div class="header-button" @click="$router.push('/users')" :style="watchRoute === 'users' ? 'background-color:#107B7B' : 'background-color:white'" v-if="role==='ROOT'">
                <p class="header-desc" :style="watchRoute === 'users' ? 'color:white' : 'color:#107B7B'" >Пользователи</p>
            </div>
        </div>
        <div v-else class="header-mobile">
            <img class="header-logo" :src="require('../assets/logo.svg')" alt="">
            <img @click="openBurg=true" :style="openBurg ? 'transition:300ms;transform:rotate(90deg)' : 'transition:300ms;transform:rotate(0deg)' " :src="require('../assets/burger.svg')" alt="">
            <div v-if="openBurg" class="burg-menu">
                <p v-if="role==='COORDINATOR' || role==='ADMIN'" class="header-desc burg-desc"  @click="watchRoute === 'create' ? openBurg=false : $router.push('/create');openBurg=false" :style="watchRoute === 'create' ? 'color:white;background-color:#107B7B' : 'color:#107B7B'" >Создать заявку</p>
                <p v-if="role==='COORDINATOR' || role==='ADMIN'" class="header-desc burg-desc"  @click="watchRoute === 'user-helps' ? openBurg=false : $router.push('/user-helps');openBurg=false" :style="watchRoute === 'user-helps' ? 'color:white;background-color:#107B7B' : 'color:#107B7B'" >Мои заявки</p>
                <p v-if="role==='ADMIN'" class="header-desc burg-desc"  @click="watchRoute === 'helps' ? openBurg=false : $router.push('/helps');openBurg=false" :style="watchRoute === 'helps' ? 'color:white;background-color:#107B7B' : 'color:#107B7B'" >Все заявки</p>
                <p v-if="role==='COORDINATOR' || role==='ADMIN'" class="header-desc burg-desc"  @click="watchRoute === 'cabinet' ? openBurg=false : $router.push('/cabinet');openBurg=false" :style="watchRoute === 'cabinet' ? 'color:white;background-color:#107B7B' : 'color:#107B7B'" >Профиль</p>
                <p v-if="role==='ROOT'" class="header-desc burg-desc"  @click="watchRoute === 'users' ? openBurg=false : $router.push('/users');openBurg=false" :style="watchRoute === 'users' ? 'color:white;background-color:#107B7B' : 'color:#107B7B'" >Пользователи</p>
            </div>
            <div v-if="openBurg" @click="openBurg=false" class="burg-back"/>
        </div>
        <div v-if="wWidth>700">
            <div class="btn" style="margin: 10px;" @click="logOut()">
                <p style="color:white;font-weight: 500;font-size: 16px;line-height: 19px;">Выйти</p>
            </div>
        </div>
    </div>
</template>

<script>
// import { getToken } from '@/server/getConfig'
// import {getAuthUser} from '@/server/get'
export default {
    props:['wWidth'],
    data(){
        return {
            openBurg:false,
            role:'',
        }
    },
    async mounted(){
        this.role = this.$store.state.user.role
    },
    computed:{
        watchRoute(){
            return this.$route.name
        }
        
    },
    methods:{
        logOut(){
            this.$store.commit('logOut')
        }
    },
    watch:{
        '$store.state.user.role'(val){
            this.role = val
        }
    }
}
</script>

<style  scoped>
.burg-desc{
    height: 20px;
    margin: 0;
    padding: 5px;
}
.burg-menu{
    position: fixed;
    top: 65px;
    right: 0px;
    border: 1px solid gray;
    z-index: 101;
    background-color: white;
}
.burg-back{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.header-desc{
    color: #107B7B;
    transition: 500ms;
}
.header-button{
    min-width: 150px;
    height: 55px;
    width: 70px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* transition: 500ms; */
}
.header-logo{
    height: 60px;
    width: 70px;
    margin-left: 10px;
}
@media  (width < 700px){
    .app-header{
        
        top: 0%;
        left: 0%;
    }
}
.app-header{
    background-color: white;
    position:  relative;
    width: 100%;
    height: 60px;
    border-bottom: 5px solid #107B7B;
    -webkit-box-shadow: 0px 9px 8px -3px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: 0px 9px 8px -3px rgba(34, 60, 80, 0.34);
    box-shadow: 0px 9px 8px -3px rgba(34, 60, 80, 0.34);
    /* display: flex; */
    justify-content: space-between;
}
.btn{
    width: 150px;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: #c50000;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
</style>