<template>
    <div class="help-form-container">
        <div v-for="(item,index) in fieldsM" :key="index">
            <Phone 
                v-if="item.type === 'phone' && item.IF === undefined || item.type === 'phone' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <TextForm
                v-if="item.type === 'text' && item.IF === undefined || item.type === 'text' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <NumberForm 
                v-if="item.type === 'number' && item.IF === undefined || item.type === 'number' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <Bool 
                v-if="item.type === 'bool' && item.IF === undefined || item.type === 'bool' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                :preValue="getPreValue(item)"
                @set-val="(item)=>preSaveVal(item)"
            />
            <SelectForm 
                v-if="item.type === 'select' && item.IF === undefined || item.type === 'select' &&  item.IF != undefined && IF === item.IF"
                :item="item"
                @set-val="(item)=>preSaveVal(item)"
            />
        </div>
        <div style="display: flex;justify-content: center;">
            <div  v-if="showBtn" class="btn" @click="createReq(object)">
                <p style="color:white;font-weight: 500;font-size: 16px;line-height: 19px;">Создать</p>
            </div>
        </div>


    </div>
</template>

<script >
import {createHelp} from '../server/posts'
import Phone from './form-components/phone'
import TextForm from './form-components/text.vue'
import NumberForm from './form-components/number.vue'
import Bool from './form-components/bool.vue'
import SelectForm from './form-components/select.vue'
export default {
    props:['meta'],
    components:{Phone,TextForm,NumberForm,Bool,SelectForm},
    data(){
        return {
            IF:false,
            fieldsM:'',
            object:{},
            requiredLength:0,
            requiredCount:0,
            showBtn:false,
            checkDataCount:{},
            
        }
    },
    created(){
        console.log(localStorage)
        this.fieldsM = this.meta.fields
        console.log(this.meta)
        let data = {}
        for(let i=0;i<this.fieldsM.length;i++){
            data[this.fieldsM[i].data] =  ''
            console.log(this.fieldsM[i].required)
            if(this.fieldsM[i].required) this.requiredLength++
        }

        if(localStorage[this.meta.dataName] != 'undefined' && localStorage[this.meta.dataName] != undefined){
            console.log(localStorage[this.meta.dataName])
            console.log(JSON.parse(localStorage[this.meta.dataName]))
            data = JSON.parse(localStorage[this.meta.dataName])
           
        } 
        this.object = data
        console.log(data)
    },
    methods:{
        async createReq(object){
            this.$store.state.loader = true
            try{
                console.log(object)
                let res = await createHelp(this.meta.serverPath,object)
                if(res){
                    localStorage[this.meta.dataName] = 'undefined'
                    this.$emit('saved')
                    this.$store.commit('addNotifyAcc','Заявка создана')
                } else {
                    this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
                }
               
            } catch(e){
                console.log(e)
            }


            
            this.$store.state.loader = false
        },
        preSaveVal(item){
            if(item.save){
                this.object[item.key] = item.value
                if(item.setIF!= undefined){
                    console.log(item.setIF)
                    this.IF = item.setIF
                }
                if(item.required){
                    if(!this.checkDataCount[item.key]){
                        this.checkDataCount[item.key] = true
                        this.requiredCount++
                    } else {

                    }
                } 
                localStorage[this.meta.dataName] = JSON.stringify(this.object)
            } else {
                if(item.required){
                    if(this.checkDataCount[item.key]){
                        this.checkDataCount[item.key] = false
                        this.requiredCount--
                    }
                } 
            }
        },
        getPreValue(item){
            const dataName = this.meta.dataName
            // console.log(dataName, item.data)
            if(localStorage[dataName] != 'undefined' && localStorage[dataName] != undefined){
                return JSON.parse(localStorage[dataName])[item.data]
            } else {
                return false
            }
        }
    },
    watch:{
        requiredCount(val){
            console.log(val,this.requiredLength)
            if(val === this.requiredLength){
                this.showBtn = true
            } else {
                this.showBtn = false
            }
        }
    }
}
</script>

<style  scoped>
.btn{
    width: 150px;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: #107B7B;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.help-form-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
</style>