<template>
    <div class="notify" :style="'background-color:'+item.color+';'">
        <p>{{ item.msg }}</p>
    </div>
</template>

<script >
export default {
    props:['item'],
    created(){
        console.log(this.item)
        setTimeout(()=>{
          let index =  this.$store.state.notify.findIndex(it => it.msg == this.item.msg)
          this.$store.state.notify.splice(index, 1)
        }, this.item.lifeTime)
    },
}
</script>

<style  scoped>
.notify{
    width: 250px;
    min-height: 40px;
    display: flex;
    color: white;
    padding: 5px;
    margin-top: 10px;
}
</style>