<template>
    <div class="user-card-container">
        <div class="btn-container">
            <div style="cursor: pointer;">
                <img  v-if="edit != 'true' && (user.id  === $store.state.user.id || $store.state.user.role === 'ROOT')" @click="edit = 'true'" height="30px" width="30px" :src="require('@/assets/edit.svg')" alt="">
            </div>
            <!-- <div style="cursor: pointer;">
                <img  v-if="edit === 'true'" @click="edit = 'saved'" height="30px" width="30px" :src="require('../assets/done.svg')" alt="">
            </div> -->
            <div style="cursor: pointer;">
                <img  v-if="edit === 'true'" @click=" edit = 'false'" height="30px" width="30px" :src="require('@/assets/close.svg')" alt="">
            </div>
        </div>
        <UpdateData v-if="edit === 'true'" :user="user" />
        <ShowData v-if="edit != 'true'" :user="user" />
    </div>
</template>
<script>
import ShowData from '../components/user-forms/showData.vue'
import UpdateData from '../components/user-forms/updateData.vue'
export default {
    components:{UpdateData,ShowData},
    data(){
        return {
            edit: 'false'
        }
    },
    props:['user'],
    created(){
        console.log(this.user)
    }
}

</script>

<style scoped>
.user-card-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
}
.btn-container{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    min-width: 50px;
    background-color: #107B7B;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.card-icon{
    cursor: pointer;
}
</style>