<template>
    <div class="view-users-container">
        <div class="view-users-header">
            <div class="view-users-line">
                <div class="line-item" style="width: 10%;">id</div>
                <div class="line-item" style="width: 15%;">Имя</div>
                <div class="line-item" style="width: 15%;">Фамилия</div>
                <div class="line-item" style="width: 20%;">Роль</div>
                <div class="line-item" style="width: 40%;">Учреждение</div>
            </div>
        </div>
        <div class="view-users-table">
            <div class="view-users-line line-H" @click="getActiveUser(user)" :ref="user.id" v-for="(user, index) in users">
                <div class="line-item" style="width: 10%;">{{ user.id }}</div>
                <div class="line-item" style="width: 15%;">{{ user.first_name }}</div>
                <div class="line-item" style="width: 15%;">{{ user.last_name }}</div>
                <div class="line-item" style="width: 20%;">{{ getRole(user.role) }}</div>
                <div class="line-item" style="width: 40%;">{{user.workplace}}</div>
            </div>
        </div>
        <div v-if="activeUser" class="view-opened-card">
            <UserCard :user="activeUser" />
        </div>
    </div>
</template>

<script >
import { roles } from '@/constans/roles'
import {getAllUsers, getUser} from '../server/get'
import UserCard from '../components/userCard.vue'
 export default {
    components:{UserCard},
    data(){
        return {
            users:'',
            activeUser:'',
        }
    },
    async created(){
        this.$store.state.loader = true
        try{
            this.users = await getAllUsers()
            console.log(this.users)
        } catch(e){
            console.log(e)
        }
        this.$store.state.loader = false
    },
    methods:{
        async getActiveUser(user){
            try{
                this.activeUser = await getUser(user.id, this.$store.state.user.role)
                console.log(this.activeUser)
            } catch(e){
                console.log(e)
                this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
            }

        },
        getRole(role){
            return roles[role]
            
        }
    }
 }
</script>

<style  scoped>
.view-opened-card{
    position: absolute;
    right: 1px;
    top: 65px;
    height: 93%;
    width: 31.8%;
    border-left: 3px solid #107B7B;
    /* -webkit-box-shadow: -7px 0px 8px 0px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: -7px 0px 8px 0px rgba(34, 60, 80, 0.34);
    box-shadow: -7px 0px 8px 0px rgba(34, 60, 80, 0.34); */
}
.line-H:hover{
    background-color: #107B7B;
    color: white;
    cursor: pointer;
}
.view-users-table{
    height: 90%;
    overflow-y: auto;
}
.view-users-line{
    min-height: 40px;
    width: 60%;
    display: flex;
    border-bottom:1px solid gray;
}
.view-users-container{
    height: 100%;
    width:100%;
}
.line-item{
    border-right:1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>